---
interface Props  {
    heading: string,
    subheading: string,
    topics: string,
    demoLink?: string,
    repoLink?: string,
    liveLink?: string,
    image: string
}

const {
    heading, 
    subheading, 
    topics, 
    demoLink, 
    repoLink, 
    liveLink, 
    image
} = Astro.props
---

<div class="px-def max-width">
    <h3>{heading}</h3>

    <div class="grid md:grid-cols-2 gap-4">

        <div>
            <span>{subheading}</span>
            
            <p>{topics}</p>
            
            <slot />
            
            <div>
                {demoLink && <a href={demoLink}>View Demo</a> }
                {repoLink && <a href={repoLink}>Github Repo</a> }
                {liveLink && <a href={liveLink}>Live Site</a> }
            </div>
        </div>
        
        <img src={image} alt="Project Screenshot" />

    </div>
</div>